<section>
    <div class="inner">
        <div class="left" >
        <div class="treding">
            <h1 data-aos="fade-up" >Trending</h1>
            <hr style="    width: 4%; height: 2px; background-color: #f3711d; position: absolute;  border:1px solid #f3711d; "> <hr style="  width: 70%;   ;">
        </div>
        <div class="box" data-aos="fade-up" data-aos-duration="60000">
            <div class="box1">
               <div class="inbox">
                <h3 >Archival & Special Collections</h3>

                 </div>
               <div class="inbox">
                <h3 >Research Assistance
                </h3>

                 </div>
               <div class="inbox">
                <h3 >Scan, Print, Photocopy</h3>

                 </div>
               <div class="inbox">
                <h3 >Study Spaces & PCs</h3>

                 </div>
               <div class="inbox">
                <h3 >Borrow, Reserve, Renew</h3>

                 </div>
               <div class="inbox">
                <h3 >Library Guides</h3>

                 </div>
            </div>
            <div class="box1">

            </div>
            <div class="box1">

                <h1 >Archival & Special Collections</h1>

                <h4 >Our Services</h4>
                <p >Among our collections, you will find multiple archives with unique samples, articles, and books.</p>
            </div>
        </div>
        <div class="history" data-aos="fade-up" data-aos-duration="40000">
            <div class="pic">

            </div>
            <div class="pera">
                <div class="inpera">
                <p  style="margin-bottom:15px; color:#e0511c ;">Blog Extra, Civil War, History of the Library, Portfolio</p>
                <h2 >Deconstructing History: Things You Didn’t Know</h2>
            </div>
            <p >We would like to emphasize the impact of earthquakes on some countries…</p>
            </div>
        </div>
        <div class="history1" data-aos="fade-up" data-aos-duration="40000">

            <div class="pera1">
                <div class="inpera1">
                <p  style="margin-bottom:15px; color:#e0511c ;">Blog Extra, History of the Library, Portfolio, WWI</p>
                <h2 >How The Rocky Mountains Were Discovered</h2>
            </div>
            <p > There is a huge part of our history, and we have a…</p>
            </div>
            <div class="pic1">

            </div>
        </div>
        <div class="btn">

            <button >Read More</button>

        </div>

    </div>
    <div class="right">
        <div class="pera2" data-aos="fade-up" data-aos-duration="40000">
            <h1>Library Guides</h1>

            <hr style="    width: 4%; height: -1px; background-color: #f3711d; position: absolute;  border:1px solid #f3711d; "> <hr style="  width: 70%;   ;">

        </div>
        <div class="pera3" data-aos="fade-up" data-aos-duration="40000">
            <h3 >
                Library Office Security Administration  </h3>
            <p >We love our library and hope that we find as many volunteers…</p>
         <a href="">  Posted on 01.21.2018e</a>
        </div>
        <div class="pera3"  data-aos="fade-up" data-aos-duration="40000">
            <h3 >
                Deconstructing History: Things You Didn’t Know </h3>
            <p >We would like to emphasize the impact of earthquakes on some countries…</p>
         <a href=""> Posted on 01.16.2018</a>
        </div>
        <div class="pera3" data-aos="fade-up" data-aos-duration="40000" >
            <h3 >
                The Appalling and Beguiling History  </h3>
            <p >The memory of Nazis deeds to some of the world’s most…</p>
         <a href="">  Posted on 01.08.2018</a>
        </div>
        <div class="hours" data-aos="fade-up" data-aos-duration="40000">
            <h1 >Library Hours</h1>
            <p >Special Collections</p>
            <h2 >9:00 AM – 5:00 PM
            </h2>
            <p >Architecture & Art Library</p>
            <h2 >9:00 AM – 5:00 PM
            </h2>
            <p >Music Library</p>
            <h2 >8:00 AM – 7:00 PM
            </h2>
            <p >Optometry Library</p>
            <h2 >7:30 AM – 8:00 PM
            </h2>
        </div>

    </div>
    </div>
</section>
