<app-navbar></app-navbar>
<section class="page1">
  <div class="services">
    <h1 data-aos="fade-up" data-aos-duration="40000">ABOUT US & OUR SERVICES</h1>
  </div>
</section>
<section class="page2">
  <div class="about">
    <div class="left"></div>
    <div class="right">
      <h1>Library Staff is Here to Help!</h1>
      <hr
        style="
          width: 4%;
          height: 2px;
          background-color: #f3711d;
          position: absolute;
          border: 1px solid #f3711d;
        "
      />
      <hr style="width: 90% ;" />
      <p>
        Nam at facilisis arcu. Aenean venenatis tempor enim, vel consectetur
        risus maximus quis. Nunc lacinia tincidunt felis, nec iaculis orci
        gravida at. Donec imperdiet pretium justo eu placerat. Lorem ipsum dolor
        sit amet, consectetur adipiscing elit tellus eros elementum.
      </p>
      <p>
        Vestibulum sed lorem in augue interdum maximus. Sed mi imperdiet arcu
        ullamcorper sodales at libero. Aliquam tellus eros, elementum in dui eu,
        blandit accumsan risus congue tristique.Vestibulum sed lorem in augue
        interdum maximus. Sed mi imperdiet arcu ullamcorper sodales at libero.
        Aliquam tellus eros, elementum in dui eu, blandit accumsan risus congue
        tristique.
      </p>
      <div class="btn">
        <button routerLink="/spaces">Explore Our Spaces</button>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
