<section>
    <div class="left">
    <div class="logo">
        <img src="../../../assets/logo.png" alt="">
            <h1>LIBRARY SCIENTIA</h1>

    </div>
    <div class="address">
 <p>123 Madison Avenue New York, NY 10010 (800) 123-4567</p>
<div class="cont">
    <i id="face" class="fa-brands fa-facebook-f"></i>
    <i id="twit" class="fa-brands fa-twitter"></i>
    <i id="insta" class="fa-brands fa-instagram"></i>
</div>
</div>
</div>
<div class="right">
    <div class="box">
        <div class="inner_box">
            <h2>About the Library</h2>
            <p>Vision, Mission & Values</p>
            <p>Customer Feedback Standards</p>
            <p>Strategic Plans, Annual Reports</p>
            <p>History of the Library</p>
            <p>Library Board</p>
            <p>Jobs at the Library</p>
        </div>
        <div class="inner_box">
            <h2>Accessibility</h2>
            <p>Accessibility at Library Branches</p>
            <p>Services for People with</p>
            <p>Disabilities</p>
            <p>Collections for People with</p>
            <p>Disabilities</p>
            <p>Website Accessibility</p>
            <p>TTY Service</p>
        </div>
    </div>
    <div class="box1">
        <div class="inner_box1">
        <h2>Library Policies</h2>
        <p>Open Data & Feeds    </p>
        <p>Print Publications</p>
        <p>Local History Publications</p>
        </div>
        <div class="inner_box1">
            <h2>Culture Articles</h2>
            <p>Library News</p>
            <p>Culture Articles</p>
            <p>Historical Facts</p>

        </div>
    </div>
</div>


</section>
