.page2{
  width: 100%;
  background-color: #2c2f34;
  min-height: 100vh;

}
.header{
  position: absolute;
  top: 3%;
 color: white;
 left: 50%;
 transform: translateX(-50%);

 border-bottom: 2px solid  #e07a2c;

}
.header h1{
  letter-spacing: 0.2rem;
  text-shadow: 1px 1px 5px white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 3vw;
}
table {
  border-collapse: collapse;
  width: 95%;
  /* padding: 10px; */
 margin:auto;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 margin-top: 33px;
 /* margin: auto ; */
}
table th{
  font-weight: 600;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid rgb(82, 82, 82);

}
table tr{
  background-color: #2c2f34;
  color: white;
}
table tr:nth-child(odd){
  color: white;
  background-color: #212429;
}

#del{
  background-color: rgba(255, 0, 0, 0.685);
  padding: 10px;
  /* border-radius: 25px; */
  transition: 0.6s;


}
#del:hover{
  background-color: red;

}
.fa-solid
{
  background-color: rgba(13, 66, 165, 0.685);
  padding: 10px;
  /* border-radius: 25px; */
  transition: 0.6s;
  margin-right: 5px;
}
.fa-solid:hover{
  background-color: rgb(9, 37, 112);

}




.message{
  position: absolute;
  width: 60%;
  height: 75vh;
  top: 50%;
  left: 50%;
  background-color: #212429;
  border-radius: 8px;
  transform: translate(-50%,-50%);
  border: 1px solid #e07a2c;
  box-shadow: 2px 3px 6px #ffffff59;


 }
 #message{
  display: none;

 }
.top{
  height: 70%;

}
.top p{
  font-size: 1.2rem;
  padding: 10px ;
}
.show{
  width: 60%;
  height: 6vh;
  border-radius: 4px;
  background-color: #e07a2c;
  border: none;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
}
 .bottom{
  height: 25%;
  display: flex;
  align-items: center;
justify-content: space-evenly;
}
.bottom button{
  width: 20%;
  height: 5vh;
  border-radius: 4px;
  background-color: #de4949b0;
  border: none;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  transition: 0.5s;

}
.bottom button:hover{
  background-color: #de4949dc;;
}
