<section class="page1">
<div id="mySidenav" class="sidenav">
  <div class="logo" style="width: 100%;">
    <img src="../../../assets/Library2.png" style="margin-left: 20px;"  width="200" alt="">
  </div>
  <div class="div">
  <a href="javascript:void(0)"  class="closebtn"(click)="closeNav()">&times;</a>

</div>
  <a class="anker" routerLink="/mainprofile">PROFILE</a>
  <a class="anker" routerLink="/addbook" >ADD BOOK</a>
  <a class="anker" routerLink="/user">USERS</a>
  <a class="anker" routerLink="/usersquery">USERS QUERY</a>
  <a class="anker" routerLink="/orderdata">ORDERS</a>
  <a class="anker" routerLink="/editbook">Edit book</a>
  <a  class="anker" routerLink="" (click)="logout()">Logout</a>

  <a  class="anker" routerLink="">EXIT</a>
</div>
<span style="font-size:30px;cursor:pointer;   color: white;  " (click)="openNav()"><i class="fa-solid fa-bars"></i></span>





</section>
