<div class="userquery">
  <app-adminindex></app-adminindex>
  <div class="header"><h1>USERS MESSAGE</h1></div>

  <table style="table-layout: fixed; ">
    <tr>
      <th>No</th>
      <th>Name</th>

      <th>Email</th>
      <th>Subject</th>
      <th>Message</th>
      <th style="text-align: center;">Delete</th>
    </tr>
    <tr *ngFor="let data of data; index as i">
      <td>{{ i + 1 }}</td>
      <td>{{ data.name }}</td>

      <td>{{ data.email }}</td>
      <td style="word-wrap: break-word">{{ data.subject }}</td>
      <td>
        <button class="show" (click)="showMessage(data.message)">SHOW MESSAGE</button>
        <div class="message" id="message">
          <div class="top" ><p id="abc"></p></div>
          <div class="bottom"><button (click)="close()">Close</button></div>
        </div>
      </td>
      <td style="text-align: center;">
        <i class="fa-solid fa-trash-can" (click)="delet(data._id)"></i>

      </td>
    </tr>
  </table>
</div>
