
<section class="page1">
  <app-adminindex></app-adminindex>
  <div class="logo">
  <img src="../../../assets/Library2.png"  width="300" alt="">
</div>
  <div class="admin">
        <span>L</span>
        <span>I</span>
        <span>B</span>
        <span>R</span>
        <span>A</span>
        <span>R</span>
        <span>Y</span>


        <br>
        <span>S</span>
        <span>C</span>
        <span>I</span>
        <span>E</span>
        <span>N</span>
        <span>T</span>
        <span>I</span>
        <span>A</span>

        <br>
        <span>A</span>
        <span>D</span>
        <span>M</span>
        <span>I</span>
        <span>N</span>
  </div>
  <!-- <div class="hero">
    <div class="static-txt">
      I'm a
    </div>
    <ul class="daynamic-txt">
      <li><span>Youtuber</span></li>
      <li><span>Designer</span></li>
      <li><span>Devloper</span></li>
      <li><span>Freelincer</span></li>

    </ul>
  </div> -->
</section>
