section{
  background-color: #101010;
  width: 100%;
  min-height: 100vh;
  background-image: url('../../../assets/bookpng2.png');
  background-size:45%;
  background-repeat: no-repeat;
  background-position:center;
  overflow: hidden;

}
.userprofile{
  /* position: absolute; */
  width: 100%;



  /* height: 100vh; */
  /* border:1px solid white; */
}
.user_detail{

  width: 90%;
  margin: auto;
}
.userprofile .profile_image{

  width: 100%;

  display: flex;
  justify-content: center;

  /* border: 1px solid wheat; */
}
.profile_image img
{

  border-radius:50%;
  box-shadow: 2px 2px 5px #000000;
  margin: 20px 0;
}
table{
  width: 50%;
  margin: auto;
  margin-bottom: 30px;
  border-collapse: collapse;
}
td{
  /* border: 1px solid red; */
  padding: 10px 15px;
  font-size: 1.2vw;
  width: 20%;
  color: #ffffffab;
  box-shadow: 1px 5px 8px black;
  background-color: #28282899;
  font-family: cursive;
  letter-spacing: 1px;
  /* box-shadow: 1px 5px 8px black; */
  /* border-bottom: 1px solid #686868; */
  /* border-radius: 8px; */
  /* border-top: 1px solid #5552521a; */


}

th{
  padding: 10px 15px;
  width: 20%;
  color: #bbbbbb;
  font-family: monospace;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 1.7vw;
  box-shadow: 1px 5px 8px black;

  /* border-bottom: 1px solid #555252; */
  /* border-radius: 8px; */
  /* border-top: 1px solid #5552521a; */
}
.edit{
  width: 100%;
  text-align: center;
}
.edit a{
  color: #127fff;
  /* background-color: #127fff; */
  padding: 9px 31px;
  border-radius: 7px;
  font-size: 1.5vw;
  text-decoration: none;
  transition: 0.5s;

}
.edit a:hover{
    background-color: #1281ffd7;
    color: white;
}
